/* css for body as per client request */
body {
    background-color:black;
    font-family: arial;
    color: white;
    }
/* css for heading as per client request */
h1{
    color:grey;
    font-family:verdana;
    }
/* css for maindiv as per client request */
.maindiv{
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}


